#css-zen-garden {
    background-image: url("alien_backgound.jpg");
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    font-family: "Times New Roman"}


.main.supporting, .intro {margin-right: 250px}


h1, h2 {
    text-align: center;
    background-color:darkblue;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 150px;
    display: block
    }


h3 {
    padding: 10px;
    font-style: bold;
}


#zen-intro {
    text-align:  justify;
    margin-left: 400px;
    }


#zen-summary, #zen-preamble {padding-top: 20px;}


#zen-explanation, #zen-participation, #zen-benefits {
    text-align: justify;
    margin-left: 400px;
}


p {
    text-align: justify;
}


footer {
    text-align: center;
    background-color: gray;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    background-image: url("alien_sidebar.jpg");
    color: black}


#design-selection {
    font-size: 17px;
    text-align: left;
}


.sidebar a {
    text-decoration: underline;
    color: red;
    font-style: bold;
}